/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  animation: move 10s ease infinite;
  transform: translate3d(0, 0, 0);
  background: linear-gradient(45deg, #49d49d 10%, #a2c7e5 90%);
  background-size: 200% 100% !important;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 20px auto;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  transform: translate3d(0, 500px, 0);
  animation: arrive 500ms ease-in-out 0.9s forwards;
  background: white;
}

@keyframes arrive {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.form-input {
  display: block;
  padding: 20px;
  font-family: Roboto, sans-serif;
  border: 1px solid #000;
  border-radius: 6px;
  outline: 0;
  transition: 0.3s;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.form-input :focus {
  border: 2px solid red;
}

.btn {
  display: block;
  font-family: Roboto, sans-serif;
  outline: 0;
  transition: 0.3s;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background: #aba194;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  text-align: center;
}

.btn :hover {
  background: #a2c7e5;
}
