@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.notification-bar {
  text-align: center;

  .notice {
    background-color: green;
  }

  .alert {
    background-color: red;
  }
}

header {
  display: flex;
  padding: 1rem;
  justify-content: stretch;
  gap: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  background-color: aliceblue;

  a {
    all: unset;
    color: black;
  }

  .logo {
    font-weight: bolder;
    cursor: pointer;
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    cursor: pointer;

    button {
      all: unset;
    }
  }
}
