@mixin action-btn {
  all: unset;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  border: 1 sold black;
  border-radius: 0.2rem;
  font-weight: bolder;
}

.recipe-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 10%;

  h1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 1rem;
    padding: 1rem;
    background-color: aliceblue;
    margin-bottom: 1rem;
    width: 100%;

    .author {
      font-size: 0.8rem;
    }
  }

  .recipe {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    background-color: aliceblue;
    width: 100%;

    .actions {
      display: flex;
      justify-content: space-between;

      >* {
        @include action-btn;

        &.delete {
          background-color: #ed5e68;
          color: white;
        }

        &.go-back {
          background-color: #8388a4;
          color: white;
        }

        >* {
          all: unset;
        }
      }
    }

    .contect {
      display: grid;
      grid-template-columns: fit-content(10rem) 1fr;

      table {
        border-collapse: separate;
        border-spacing: 1rem 0;
        gap: 1rem;
      }

      .spams {
        grid-column: 2 / -1;
        grid-row: 1 / span 1;
        display: flex;
        justify-content: start;
        gap: 2rem;

        .is-private,
        .is-public {
          margin-left: auto;
        }
      }

      .ingredients {
        grid-column: 1 / 2;
        grid-row: 1 / span 1;
        padding: 0 1rem;

        .food-name {
          color: black;
          text-decoration: underline;
          cursor: pointer;

          >* {
            all: unset;
          }
        }
      }

      .description {
        grid-column: 2 / -1;
        grid-row: 1 / span 2;
        margin: 2rem 1rem;
      }
    }
  }
}
