.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.add-food {
  display: block;
  width: 100px;
  height: 50px;
  color: #fff;
  text-align: right;
  line-height: 50px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 50px;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px #2b2d42;
  margin-bottom: 20px;
}

th,
td {
  padding: 15px;
  background-color: #2b2d42;
  color: #fff;
}

th {
  text-align: left;
}

thead {
  display: block;
  th {
    background-color: #55608f;
  }
}

tbody {
  display:block;
  overflow:auto;
  height:400px;

  tr {
    &:hover {
      background-color: #2b2d42;
    }
  }

  td {
    position: relative;

    &:hover {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: #2b2d42;
        z-index: -1;
      }
    }
  }
}

.empty-msg {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #C73E1D;
}